dist

# Node dependencies
node_modules
.wrangler

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# vscode
.vscode/*
!.vscode/settings.example.json
!.vscode/launch.example.json
